body {
  background-color: purple;
}

img {
    width: 400px;
    height: 250px;
}

#contenedor {
  width: 1560px;
  height: 1000px;
  margin: 0 auto;
}

.caja {
  width: 400px;
  height: 250px;
  background-color: white;
  margin: 20px;
  float: left;
}

.enlaceinfo {
  background-color: white;
  width: 300px;
  height: 50px;
  margin: 115px 20px 20px 20px;
  float: left;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
}

.contenido__video{
 overflow: hidden;
 position: fixed;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 z-index: -1;
}

.video{
 position: absolute;
 max-width: 300%;
 width: 100%;
}
